.OuterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.Left {
    width: min(10%, 80px);
    position: relative;
}

.Right {
    margin-left: 10px;
    width: calc(100% - min(10%, 80px) - 10px);
}

.Top {
    height: min(4.5vw, 40px);
    margin-top: calc(-1.02 * min(4.5vw, 40px));
}

.Bottom {
    height: min(4.5vw, 40px);
    margin-top: -1%;
}

.Right .Middle {
    background-color: #ffffff25;
}

.Left .Top {
    background-image: url('../../images/timelineTop.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
}

.Left .Middle {
    background-image: url('../../images/timeline.png');
    background-repeat: repeat-y;
    background-size: 50% 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Left .Bottom {
    background-image: url('../../images/timelineBottom.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
}

.Left img {
    position: absolute;
    width: 100%;
}

.Left p {
    z-index: 1;
    margin-top: -22px;
    text-align: center;
    font-size: min(2.5vw, 16pt);
}

.Right .Middle {
    position: relative;
    overflow: hidden;
}

.CoverPanel {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 6;
}

.CoverPanel img {
    width: 100%;
    z-index: 8;
}

.CoverPanel .CoverText {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.CoverPanel h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: min(15.3vw, 136px);
    line-height: normal;
}

.OuterContainer button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: min(3.3vw, 24px);
    padding: min(1.4vw, 10px);
    margin: min(1.4vw, 10px);
    background-color: #000000AA;
    color: #EEE;
    border: none;
    z-index: 4;
}

.OuterContainer button:hover {
    background-color: #000000;
}

.Content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    z-index: 2;
    padding: 15px;
}

.Content p {
    margin: 0;
    padding: 0;
    font-size: min(3.3vw, 24px);
}

.CoverText p {
    font-size: 16pt;
    margin: 0;
    padding: 0;
}