.OuterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.Left {
    width: 80px;
}

.Right {
    margin-left: 10px;
    width: calc(100% - 90px);
}

.Top {
    height: 40px;
    margin-top: -41px;
}

.Bottom {
    height: 40px;
}

.Right .Middle {
    background-color: #ffffff25;
}

.Left .Top {
    background-image: url('../../images/timelineTop.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
}

.Left .Middle {
    background-image: url('../../images/timeline.png');
    background-repeat: repeat-y;
    background-size: 40px 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Left .Bottom {
    background-image: url('../../images/timelineBottom.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
}

.Left img {
    position: absolute;
}

.Left p {
    z-index: 1;
    margin-top: -22px;
    text-align: center;
    font-size: 16pt;
}

.Right .Middle {
    position: relative;
    overflow: hidden;
}

.CoverPanel {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 6;
}

.CoverPanel img {
    width: 100%;
    z-index: 8;
}

.CoverPanel .CoverText {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.CoverPanel h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 100px;
    line-height: normal;
}

.OuterContainer button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12pt;
    padding: 10px;
    margin: 10px;
    background-color: #000000AA;
    color: #EEE;
    border: none;
    z-index: 4;
}

.OuterContainer button:hover {
    background-color: #000000;
}

.Content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    z-index: 2;
    padding: 15px;
}

.Content p {
    margin: 0;
    padding: 0;
}