.InnerContent p {
    margin: 0;
    padding-top: 20px;
    font-size: 16pt;
    color: #dddddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.InnerContent h2 {
    margin: 0;
    padding-top: 20px;
    font-size: 32pt;
    color: #9de0e2;
}

.InnerContent {
    margin: auto;
    width: 90%;
    max-width: 800px;
}

.OuterContent {
    overflow: hidden;
}