.Canvas {
    width: 100%;
    height: 100%;
}

.CanvasContainer {
    width: 100%;
    height: 100vh;
    background-color: #00000022;
}

.CanvasContainer button {
    font-size: 12pt;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #00000066;
    color: #EEE;
    border: none;
}

.CanvasContainer button:hover {
    background-color: #000000CC;
}

.HeadContainer {
    position: absolute;
    top: 0;
    width: 100%;
}

.Head {
    text-align: center;
    color: #EEE;
    background-color: #358ef0;
    background-image: url("../../images/grid.png");
    background-position: calc(50% - 128px), 50%;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 250px rgba(0,0,0,1) inset;
    /*final background: blueprint texture with light vignette. hand is glowing? white-grey*/
}

.Head img {
    height: 50px;
}

.TitleContainer {
    background-color: #00000077;
}

.TitleContainer h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: min(15vh, 15vw);
    margin-top: calc(42vh - 70px);
    margin-bottom: calc(40vh - 70px);
    padding-top: 20px;
    padding-bottom: 5px;
}

.Head p {
    font-size: 24px;
    margin: 0;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}