.FooterImageContainer {
    width: 42vh;        /*Maintain ratio of image*/
    margin: 0 auto 0 auto;
}

.FooterImage2 {
    height: 25vh;       /*Maintain ratio of image*/
}

.Footer {
    height: 25vh;
    padding-top: 35vh;   /*Suspenseful scroll down!*/
    /* the body component prevents overflow!!!! wait no, footer is always outside of body. thats why this is still necessary. */
    overflow: clip;
    position: relative;
}

.FooterText {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px;
    margin: 0;
    font-size: 10pt;
    color: #999999;
}